
.header{
	
	height:110px;
	box-sizing: border-box;
}

.footer{
	clear:both;
	height:100%; 
	bottom: 0px;
	margin:2px;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	
}
.header, .footer {
	width:100%;
	border:1px solid black;
	border-radius: 10px;
	background-color:#ff8533;
}
 .sidebar, .Header, .footer, 
.container,.content {
	font-family: Play-Bold;
	font-size: 20px;
	font-style: bold;
}

.container{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	border:1px solid black;  
	background-color: white; 
	border-radius: 5px;
	
}
.text3 {
width: 100%;
height: 100%;
text-align: justify;
}
.sidebar{
	box-sizing: border-box;
	flex-grow:1;
	height:auto; 
	width: 40%;
	border:1px solid black;  
	background-color: white; 
	float:left;
	padding:10px;
	border-radius: 10px;
	background: #e6e6e6;
}

.content{
	flex-grow:1;
	box-sizing: border-box;
	width: 60%;
	height: auto;
	border: 1px solid black;  
	background-color: white; 
	padding:5px;
	float:right;
	border-radius: 5px;
	text-align: justify;
	background: #cccccc;
}
.image1{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.text,.text1{ 
		text-align: justify;
			}
	
.text1{
		border: 1px solid black;  
		border-radius: 20px;
		width:100;
		margin: 20px 20px 20px 20px;
		padding: 10px;
		flex-grow:1;
	    box-sizing: border-box;
		white-space: nowrap; 
		width: 37em; 
		height: 10em;
		overflow: hidden;
		text-overflow: ellipsis; 
		background: #f5efef;
		
	}
	.text3
	{
	    border: 1px solid black;  
		border-radius: 20px;
		width:100%;
		height:auto;
		margin: 20px 20px 20px 20px;
		padding: 10px;
		flex-grow:1;
	    box-sizing: border-box;
		background: #f5efef;
	}
.foot1,.foot2,.msg1, #msg2, #but1{
box-sizing: border-box;
	flex-grow:1;
	height: auto;
	padding:5px;
}
.foot1{
width:50%;
float:left;
padding-left: 20px;

}
.foot2{
 
	width: 50%;
	float:right;
	color: black;
	padding-left: 250px;
}

#page-wrap {
	width: 20%;
	background: darkorange;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	color:black;
	
}
.msg1 {
height:20px;
width:240px;

}
#msg2 {
height:40px;
width:240px;

}
#but1 {
height:30px;

width:90px;
}
#contact-area {
	box-sizing: border-box;
	flex-grow:1;
	color:black;
}
	
a{
position: relative;
float: right;
}
@media screen and (max-width: 540px) {

.container {
	clear:both;
}
.text1 {
	width: 50%;
	height: auto;
	}
} 


@media screen and (max-width: 1270px) {
	.sidebar, .content,.text1{
		width: 50%;	
		margin-left:20px;
	}
	.text1 {
	width: 90%;
	margin: auto;
	height: auto;
	}
	
} 
@media screen and (max-width: 1000px) {
.foot2,.msg1,#msg2,#but1{
	width:auto;
	float:left;
	padding-left:10px;
	}
}
@media screen and (max-width: 740px) {
	.sidebar, .content{
		clear:both;
		padding:20px;
		width: 60%;	
		margin: auto;
	}
	.foot2,.msg1,#msg2,#but1{
	width:auto;
	float:left;
	}
	.foot2{
	margin:0px;
	padding-left:10px;
	clear:both;
	}
	
} 